
:host {
  display: block;
  padding: 12px;
}

.container {
max-width: 900px;
margin: auto;
padding: 9px;
font-family: Arial, sans-serif;
color: #333;
background-color: rgb(145, 159, 250);
}


header {
text-align: center;
margin-bottom: 20px;
}


.title {
color: #666;
font-size: 16px;
padding: 0px;
}


h2 {
border-bottom: 2px solid #eee;
padding-bottom: 2px;
}


.skills {
display: flex;
flex-wrap: wrap;
gap: 10px;
list-style: none;
padding: 0;
}


.skills li {
background: #f3f3f3;
padding: 3px 9px;
border-radius: 6px;
}


.project {
margin-bottom: 12px;
}


.project a {
color: #007acc;
text-decoration: none;
}


footer {
text-align: center;
margin-top: 30px;
color: #888;
}